@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


:root {
  --bs-font-sans-serif: 'Nunito', sans-serif !important;
  --bs-body-bg: #ff93ff !important;
  --bs-body-color: #DEDAD6 !important;
  --bs-body-color-rgb: 222, 218, 214 !important;
  --bs-body-bg-rgb: 255, 147, 255 !important;
}
